/* Fontes do cabeçalho */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Fontes do corpo */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    background-image: url(../../images/bg-desktop.svg);
    background-color: rgb(103, 75, 177);
}

.cabecalho{
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    justify-content: flex-start;
}

.cabecalho img{
    margin: 50px;
}

section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

section .apresentacao{
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: white;
    max-width: 480px;
}

section .apresentacao h1{
    margin-top: 50px;
    font-size: 40px;
}

section .apresentacao p{
    margin-top: 25px;
}

section .apresentacao .botao-registre-se{
    display: block;
    background-color: white;
    max-width: 170px;
    max-height: 50px;
    margin-top: 40px;
    border-radius: 30px;
}

section .apresentacao .botao-registre-se button{
    border-radius: 30px;
    color: rgb(103, 75, 177);
    border: 1px black solid;
    width: 170px;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}


section .apresentacao .botao-registre-se button:hover{
    cursor: pointer;
    scale: 1.05;
    text-decoration: underline;
    transition: 150ms ease-in-out;
}

